@charset "UTF-8";
body{

    background-color: rgb(254, 254, 254);
}

header{
text-align: center;
font-family: fantasy;
color: black;
}

main {
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
padding: 20px;
}
main section {
background-color: red;
height: 200px;
width: 350px;
border: 1px solid black;
border-radius: 10px;
margin: 5px;
font-size: x-large;
font-family: 'Times New Roman', Times, serif;
}
main section a {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
text-decoration: none;

color: black;
transition: 0.6s;

}

main section a:hover{
    font-size: 200%;
    background-color: red;
border-radius: 10px;
 }