table {
    margin: auto;
    border:2px black solid;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 flex-wrap: wrap;
}

td {
    border: 1px black solid;
    padding: 25px;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}