body {
    background: rgb(208, 206, 206);
    width: 800px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    
    border-width: 2px;
    border-style: solid;
    border-color: #7c7c7c;
    
    padding: 20px;
}



h1 {
      color:green;      
      font-weight: 100; 
      font-family: arial;  
      font-size: 34px;  
}
h3 {
        color: green;
        font-family: arial;
   
}

p {
    font-family: arial; 
    font-size: 14px; 
    line-height: 150%;
}

a {
    color:red;
}


img.floatbild {
    float:right;
    width: 170px;
}















